.advantages {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  padding: 111px 1%;
  padding-left: 0.8%;
  padding-bottom: 78px;
}

.advantages__list {
  @include list-style;
  display: flex;
  flex-wrap: wrap;
}

.advantages__item {
  position: relative;
  width: 48.7%;
  min-height: 299px;
  margin-right: 2.6%;
  margin-bottom: 30px;
  padding: 93px 3.5%;
  padding-right: 3%;
  padding-bottom: 66px;
  background-color: $contrast-color;
  border: 1px solid $border-color;
  border-left: 3px solid $bright-color;

  &:nth-child(2n) {
    margin-right: 0;
  }

  &:hover {
    color: $contrast-color;
    background-color: $bright-color;
    transition-duration: 0.5s;
  }

  &:hover .advantages__title {
    color: $contrast-color;
    transition-duration: 0.5s;
  }

  &:hover .advantages__icon {
    fill: $contrast-color;
    transition-duration: 0.5s;
  }
}

.advantages__icon {
  position: absolute;
  left: 7.2%;
  fill: $bright-color;
}

.advantages__icon--stopwatch {
  top: 40px;
}

.advantages__icon--hired {
  top: 44px;
}

.advantages__icon--detective {
  top: 44px;
}

.advantages__icon--tag {
  top: 40px;
}

.advantages__title {
  @include font(24px, 34px);
  margin: 0;
  margin-bottom: 20px;
  font-family: $font-additional;
  font-weight: normal;
  color: $bright-color;
}

.advantages__text {
  margin: 0;
}

@media (max-width: $tablet-width) {
  .advantages {
    padding: 54px 3.3%;
    padding-bottom: 25px;
  }

  .advantages__item {
    width: 47.9%;
    min-height: 234px;
    margin-right: 4.1%;
    padding: 64px 3.4%;
    padding-right: 2.8%;
    padding-bottom: 23px;
    border-left: 2px solid $bright-color;
  }

  .advantages__title {
    margin-bottom: 13px;
  }

  .advantages__title--detective {
    margin-bottom: 14px;
  }

  .advantages__icon--stopwatch {
    top: 23px;
  }

  .advantages__icon--hired {
    top: 20px;
  }

  .advantages__icon--detective {
    width: 32px;
    height: 20px;
    top: 26px;
  }

  .advantages__icon--tag {
    top: 21px;
  }
}

@media (max-width: $mobile-width) {
  .advantages {
    padding: 37px 0;
    padding-right: 5%;
    padding-left: 4.3%;
  }

  .advantages__list {
    flex-direction: column;
  }

  .advantages__item {
    width: 100%;
    min-height: 231px;
    margin-right: 0;
    margin-bottom: 20px;
    padding-top: 71px;
    padding-left: 7.9%;
    padding-bottom: 28px;
    padding-right: 15px;
  }

  .advantages__item--hired {
    padding-right: 0;
  }

  .advantages__title {
    @include font(20px, 28px);
  }

  .advantages__title--detective {
    margin-top: -5px;
    margin-bottom: -9px;
    padding-right: 3%;
  }

  .advantages__text {
    line-height: 21px;
  }

  .advantages__icon {
    left: 8.2%;
  }
}
