.copyright {
  display: flex;
  padding: 15px 4.5%;
}

.copyright__text {
  @include font(13px, 24px);
  min-width: 165px;
  margin: 0;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  opacity: 0.5;
  margin-right: 0.2%;

  &:first-child {
    margin-right: 3.9%;
  }

  &:last-child {
    margin-left: auto;
    margin-right: 0;
  }
}

.copyright__text--company {
  margin-right: 10%;
}

.copyright__link {
  color: $dark-color;

  &:hover,
  &:focus {
    text-decoration: underline;
    outline: none;
  }
}

@media (max-width: $tablet-width) {
  .copyright {
    justify-content: space-between;
    padding-top: 21px;
    padding-right: 3.2%;
    padding-bottom: 24px;
    padding-left: 3.4%;
  }

  .copyright__text--extra,
  .copyright__text--company {
    display: none;
  }
}

@media (max-width: $mobile-width) {
  .copyright {
    flex-direction: column;
    align-items: center;
    padding: 29px 4%;
  }

  .copyright__text {
    margin: 0;
    margin-bottom: 19px;

    &:first-child,
    &:last-child {
      margin: 0;
    }
  }
}
