.main-nav {
  max-width: 1550px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 34px;
  padding-right: 3.7%;
  padding-left: 3.6%;
}

.main-nav__toggle {
  position: relative;
  width: 37px;
  height: 14px;
  margin-left: 8.4%;
  margin-right: auto;
  background-color: transparent;
  border: none;

  cursor: pointer;

  &:focus {
    outline: none;
  }

  &:hover::before,
  &:hover::after {
    opacity: 0.4;
  }

  &:focus::before,
  &:focus::after {
    opacity: 0.8;
  }

  &::before,
  &::after {
    content: "";

    position: absolute;
    left: 0;

    width: 37px;
    height: 1px;

    background-color: $contrast-color;
  }

  &::before {
    top: 0;
  }

  &::after {
    top: 12px;
  }
}

.main-nav__link {
  @include font(16px, 18px);
  display: flex;
  color: $contrast-color;
  margin-left: 6.1%;

  &:hover {
    opacity: 0.6;
    text-decoration: underline;
  }

  &:focus {
    opacity: 0.8;
    outline: none;
  }
}

.main-nav__link--email {
  margin-left: 10px;
}

.main-nav__icon--email {
  margin-right: 20px;
}

.main-nav__icon--phone {
  margin-right: 16px;
}

.main-nav__callback {
  @include font-bold;
  @include font(14px, 16px);
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 195px;
  min-height: 45px;
  margin-left: 3.4%;
  padding: 14px 1.9%;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $contrast-color;
  border: 1px solid $contrast-color;
  border-radius: 5px;

  &:hover,
  &:focus {
    color: $bright-color;
    background-color: $contrast-color;
    transition-duration: 0.5s;
    outline: none;
  }
}

@media (max-width: $tablet-width) {
  .main-nav {
    padding-top: 19px;
    padding-right: 3.4%;
    padding-left: 3%;
  }

  .main-nav__toggle {
    margin-left: auto;
    margin-right: 0.5%;

    &::before {
      top: -1px;
    }

    &::after {
      top: 11px;
    }
  }

  .main-nav__link {
    margin-left: 4.5%;
  }

  .main-nav__icon {
    margin: 0;
  }

  .main-nav__icon--email {
    width: 25px;
    height: 18px;
  }

  .main-nav__icon--phone {
    width: 24px;
    height: 24px;
  }

  .main-nav__extra,
  .main-nav__callback {
    display: none;
  }
}

@media (max-width: $mobile-width) {
  .main-nav {
    padding-top: 17px;
    padding-right: 4.5%;
    padding-left: 5%;
  }

  .main-nav__toggle {
    margin-right: 1%;

    &::before {
      top: -2px;
    }

    &::after {
      top: 10px;
    }
  }

  .main-nav__link {
    margin-left: 8.2%;
  }
}
