.main-screen {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  padding-top: 170px;
  padding-left: 13.1%;
  padding-right: 9.2%;
  padding-bottom: 100px;
  color: $contrast-color;
}

.main-screen__wrapper {
  position: relative;
  width: 51%;
  padding-top: 58px;
}

.main-screen__title {
  @include font-bold;
  @include font(80px, 94px);
  display: flex;
  margin: 0;
  margin-bottom: 28px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
}

.main-screen__job {
  @include font(22px, 34px);
  position: relative;
  margin: 0;
  margin-left: 12.2%;
  margin-bottom: 44px;

  &::before {
    content: "";
    position: absolute;
    top: 17px;
    left: -92px;
    width: 66px;
    height: 2px;
    background-color: $contrast-color;
  }
}

.main-screen__button {
  @include font-bold;
  @include font(16px, 19px);
  display: inline-block;
  max-width: 408px;
  min-height: 55px;
  margin-left: 12.4%;
  padding: 17px 5.8%;
  text-align: center;
  vertical-align: middle;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $contrast-color;
  background-color: $bright-color;
  border: 1px solid $bright-color;
  border-radius: 5px;

  &:hover,
  &:focus {
    color: $bright-color;
    background-color: transparent;
  }

  &:focus {
    outline: none;
  }
}

.main-screen__short {
  display: none;
}

.main-screen__scroll {
  @include font(14px, 14px);
  position: absolute;
  bottom: 29px;
  left: -38px;
  color: $contrast-color;
  opacity: 0.5;
  transform: rotate(-90deg);

  &:hover {
    opacity: 0.8;
    text-decoration: underline;
  }

  &:focus {
    opacity: 0.6;
    outline: none;
  }
}

.main-screen__image {
  width: 706px;
}

@media (max-width: $tablet-width) {
  .main-screen {
    padding-top: 41px;
    padding-left: 11.5%;
    padding-right: 0;
    padding-bottom: 163px;
  }

  .main-screen__wrapper {
    width: 100%;
    padding-top: 77px;
  }

  .main-screen__title {
    @include font(60px, 70px);
    margin-bottom: 27px;
  }

  .main-screen__job {
    @include font(18px, 28px);
    margin-left: 11%;
    margin-bottom: 56px;

    &::before {
      top: 16px;
      left: -47px;
      width: 33px;
    }
  }

  .main-screen__button {
    margin-left: 11.5%;
    padding: 17px 6.2%;
  }

  .main-screen__scroll {
    display: none;
  }

  .main-screen__image {
    width: 392px;
    margin-left: -25px;
  }
}

@media (max-width: $mobile-width) {
  .main-screen {
    flex-direction: column;
    justify-content: space-between;
    padding: 36px 0;
    padding-bottom: 70px;
  }

  .main-screen__wrapper {
    padding: 0;
    padding-right: 5.1%;
    padding-left: 4.5%;
    order: 2;
  }

  .main-screen__title {
    @include font(40px, 47px);
    margin-bottom: 28px;
  }

  .main-screen__job {
    @include font(16px, 25px);
    margin-bottom: 40px;
    margin-left: 17.7%;
  }

  .main-screen__button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0;
  }

  .main-screen__long {
    display: none;
  }

  .main-screen__short {
    display: inline;
  }

  .main-screen__image {
    align-self: flex-end;
    width: 92%;
    margin-left: 0;
    margin-bottom: -32px;
    order: 1;
  }
}
