.modal {
  display: none;
  position: fixed;
  z-index: 50;
  top: 50%;
  left: 50%;
  width: 486px;
  margin-left: -243px;
  transform: translateY(-50%);
  padding: 31px 39px;
  padding-bottom: 36px;
  overflow: auto;
}

.modal__text {
  @include font(28px, 39px);
  margin-bottom: 13px;
}

.modal__extra {
  margin-bottom: 30px;
  padding-right: 20px;
}

.modal input,
.modal textarea {
  padding: 14px 22px;
}

.modal__form input[type="checkbox"] {
  top: 50%;
  left: 8px;
}

.modal__form input[type="checkbox"] + .modal__agreement::before {
  top: 2px;
  left: -49px;
}

.modal__form input[type="checkbox"]:checked + .modal__agreement::after {
  top: 7px;
  left: -46px;
}

.modal textarea {
  height: 104px;
}

.modal__section {
  position: relative;
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }
}

.modal__button {
  margin-top: -3px;
}

.modal__agreement {
  margin-top: 35px;
  margin-left: 47px;
}

.modal__close {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 20.5px;
  height: 20.5px;
  padding: 0;
  font-size: 0;
  background-color: transparent;
  border: 0;
  border-radius: 5px;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $contrast-color;
    outline: none;
  }

  &:hover .modal__icon,
  &:focus .modal__icon {
    fill: $bright-color;
  }
}

.modal__icon {
  fill: $contrast-color;
}

.modal--show {
  display: block;
}
