.modal {
  display: none;
  position: fixed;
  z-index: 50;
  top: 50%;
  left: 50%;
  margin-top: -286.5px;
  margin-left: -244px;
  width: 486px;
  padding: 22px 39px;
  padding-bottom: 55px;
}

.modal__text {
  margin-bottom: 6px;
}

.modal__extra {
  margin-bottom: 32px;
  padding-right: 20px;
}

.modal input,
.modal textarea {
  padding: 14px 22px;
}

.modal__form input[type="checkbox"] + .modal__agreement::before {
  top: 6px;
  left: -38px;
}

.modal__form input[type="checkbox"]:checked + .modal__agreement::after {
  top: 11px;
  left: -34px;
}

.modal textarea {
  height: 104px;
}

.modal__section {
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }
}

.modal__button {
  margin-top: -6px;
}

.modal__agreement {
  margin-left: 39px;
}

.modal__close {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 20.5px;
  height: 20.5px;
  padding: 0;
  font-size: 0;
  background-color: transparent;
  border: 0;
  border-radius: 5px;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $contrast-color;
    outline: none;
  }

  &:hover .modal__icon,
  &:focus .modal__icon {
    fill: $bright-color;
  }
}

.modal__icon {
  fill: $contrast-color;
}

.modal--show {
  display: block;
}
