.question-form {
  display: flex;
  padding-left: 30.9%;
  background-image: url("../img/form-background.png");
  background-repeat: no-repeat;
  background-position: 100% -65px;
}

.question-form__wrapper {
  position: relative;
  min-width: 570px;
  margin: 89px auto;
  margin-bottom: 111px;

  &::before {
    content: "";
    position: absolute;
    top: 71px;
    left: -109%;
    width: 511px;
    height: 288px;
    background-image: url("../img/paper-airplane.png");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

.question-form__text {
  @include font(36px, 51px);
  margin-bottom: 12px;
}

.question-form__extra {
  margin-bottom: 48px;
}

.question-form__form input[type="checkbox"] + .question-form__agreement::before {
  top: 2px;
  left: -32px;
}

.question-form__form input[type="checkbox"]:checked + .question-form__agreement::after {
  top: 6px;
  left: -28px;
}

.question-form input,
.question-form textarea {
  padding: 11px 20px;
  font-family: inherit;
}

.question-form textarea {
  height: 154px;
}

.question-form__section {
  display: flex;
  justify-content: space-between;
  margin-top: 42px;

  &:first-child {
    margin-top: 0;
  }
}

.question-form__field {
  width: 47.2%;
  margin: 0;
}

.question-form__agreement {
  margin-top: 8px;
  margin-left: 41px;
}

@media (max-width: $tablet-width) {
  .question-form {
    padding: 0 11.6%;
    background-image: none;
  }

  .question-form__wrapper {
    width: 100%;
    min-width: 100%;
    margin: 81px auto;
    margin-bottom: 103px;

    &::before {
      display: none;
    }
  }

  .question-form__text {
    @include font(31px, 45px);
    margin-bottom: 15px;
  }

  .question-form__extra {
    margin: 0;
    margin-bottom: 53px;
  }

  .question-form textarea {
    height: 158px;
  }

  .question-form__section {
    &:last-child {
      margin-top: 47px;
    }
  }

  .question-form__agreement {
    margin-left: 42px;
  }
}

@media (max-width: $mobile-width) {
  .question-form {
    padding: 0 4.3%;
  }

  .question-form__wrapper {
    margin: 28px auto;
    margin-bottom: 43px;
  }

  .question-form__text {
    @include font(28px, 39px);
    margin-bottom: 15px;
  }

  .question-form__extra {
    margin: 0;
    margin-bottom: 25px;
  }

  .question-form textarea {
    height: 104px;
  }

  .question-form__section {
    flex-direction: column;
    margin-top: 33px;

    &:last-child {
      margin-top: 30px;
    }
  }

  .question-form__field {
    width: 100%;
  }

  .question-form__field--half {
    margin-bottom: 30px;
  }

  .question-form__agreement {
    margin-top: 0;
    margin-left: 34px;
  }
}
