.question-form {
  padding: 89px 0;
  padding-left: 50.5%;
  padding-bottom: 111px;
  background-image: url("../img/paper-airplane.png");
  background-repeat: no-repeat;
  background-position: 25% 158px;
}

.question-form__text {
  @include font(36px, 51px);
  width: 61%;
  margin-bottom: 12px;
}

.question-form__extra {
  width: 61%;
  margin-bottom: 48px;
}

.question-form__form {
  width: 61%;
}

.question-form__form input[type="checkbox"] + .question-form__agreement::before {
  top: 2px;
  left: -32px;
}

.question-form__form input[type="checkbox"]:checked + .question-form__agreement::after {
  top: 6px;
  left: -28px;
}

.question-form input,
.question-form textarea {
  padding: 11px 20px;
  font-family: inherit;
}

.question-form textarea {
  height: 154px;
}

.question-form__section {
  display: flex;
  justify-content: space-between;
  margin-top: 43px;

  &:first-child {
    margin-top: 0;
  }
}

.question-form__field {
  width: 47.2%;
  margin: 0;
}

.question-form__agreement {
  margin-top: 8px;
  margin-left: 41px;
}

@media (max-width: $tablet-width) {
  .question-form {
    padding: 81px 11.6%;
    padding-bottom: 104px;
    background-image: none;
  }

  .question-form__text {
    width: 100%;
    margin-bottom: 15px;
  }

  .question-form__extra {
    width: 100%;
    margin: 0;
    margin-bottom: 53px;
  }

  .question-form__form {
    width: 100%;
  }

  .question-form textarea {
    height: 158px;
  }

  .question-form__section {
    &:last-child {
      margin-top: 47px;
    }
  }

  .question-form__agreement {
    margin-left: 42px;
  }
}

@media (max-width: $mobile-width) {
  .question-form {
    padding: 28px 4.3%;
    padding-bottom: 43px;
    background-image: none;
  }

  .question-form__text {
    margin-bottom: 15px;
  }

  .question-form__extra {
    margin: 0;
    margin-bottom: 25px;
  }

  .question-form textarea {
    height: 104px;
  }

  .question-form__section {
    flex-direction: column;
    margin-top: 33px;

    &:last-child {
      margin-top: 30px;
    }
  }

  .question-form__field {
    width: 100%;
  }

  .question-form__field--half {
    margin-bottom: 30px;
  }

  .question-form__agreement {
    margin-top: 0;
    margin-left: 34px;
  }
}
