.service {
  width: 100%;
  color: $contrast-color;
  background-color: $dark-color;
}

.service__wrapper {
  margin: 0 auto;
  max-width: 1550px;
  padding: 89px 9.8%;
  padding-bottom: 85px;
}

.service__text {
  @include font(36px, 51px);
  display: block;
  margin-bottom: 49px;
  font-family: $font-additional;
  font-weight: normal;
}

.service__list {
  @include list-style();
  display: flex;
  flex-wrap: wrap;
}

.service__item {
  display: flex;
  position: relative;
  width: 31.6%;
  min-height: 622px;
  margin-bottom: 45px;
  margin-right: 2.5%;

  &:nth-child(3n) {
    margin-right: 0;
  }

  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}

.service__item--production {
  background-image: url("../img/service-production.png");
}

.service__item--installation {
  background-image: url("../img/service-installation.png");
}

.service__item--components {
  background-image: url("../img/service-components.png");
}

.service__link {
  display: flex;
  width: 100%;
  height: 100%;
  color: $contrast-color;
  border: 1px solid transparent;

  &:hover,
  &:focus {
    border-color: $contrast-color;
    text-decoration: underline;
    outline: none;
    transition-duration: 0.5s;
  }

  &:hover .service__arrow,
  &:focus .service__arrow {
    background-color: $contrast-color;
    transition-duration: 0.5s;
  }

  &:hover .service__icon,
  &:focus .service__icon {
    fill: $bright-color;
    transition-duration: 0.5s;
  }
}

.service__title {
  @include font(20px, 30px);
  width: 100%;
  margin: 53px 11.6%;
  margin-right: 41.5%;
  font-family: $font-additional;
  font-weight: normal;
}

.service__arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 63px;
  height: 63px;
  background-color: $bright-color;
}

.service__icon {
  fill: $contrast-color;
}

@media (max-width: $tablet-width) {
  .service__wrapper {
    padding: 50px 3.4%;
    padding-bottom: 77px;
  }

  .service__text {
    @include font(32px, 45px);
    width: 88%;
    margin-bottom: 49px;
  }

  .service__item {
    width: 100%;
    min-height: 257px;
    margin-right: 0;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .service__item--production {
    background-image: url("../img/service-production-tablet.png");
  }

  .service__item--installation {
    background-image: url("../img/service-installation-tablet.png");
  }

  .service__item--components {
    background-image: url("../img/service-components-tablet.png");
  }

  .service__title {
    @include font(20px, 30px);
    margin: 38px 5.9%;
    margin-right: 70%;
  }

  .service__title--components {
    margin-top: 48px;
  }
}

@media (max-width: $mobile-width) {
  .service__wrapper {
    padding: 49px 4.9%;
    padding-bottom: 65px;
  }

  .service__text {
    @include font(27px, 39px);
    width: 100%;
    margin-left: 2.7%;
    margin-bottom: 43px;
  }

  .service__item {
    min-height: 256px;
    margin-bottom: 30px;
  }

  .service__item--production {
    background-image: url("../img/service-production-mobile.png");
  }

  .service__item--installation {
    background-image: url("../img/service-installation-mobile.png");
  }

  .service__item--components {
    background-image: url("../img/service-components-mobile.png");
  }

  .service__title {
    @include font(19px, 30px);
    margin: 20px 11.9%;
    margin-right: 31%;
  }

  .service__title--components {
    margin-top: 26px;
  }
}
