@mixin font-bold {
  font-family: $font-additional;
  font-weight: 700;
}

@mixin font($size, $line) {
  font-size: $size;
  line-height: $line;
}

@mixin list-style {
  margin: 0;
  padding: 0;
  list-style: none;
}
