$font-main: "PT Mono", "Times New Roman", serif;
$font-additional: "Roboto Condensed", "Arial", sans-serif;
//
$main-text-color: #666666;
$contrast-text-color: #ffffff;
//
$light-background-color: #e5e5e5;
$dark-background-color: #1b2d37;
//
$tablet-width: 1023px;
$mobile-width: 767px;
