$font-main: "PT Mono", "Courier New", monospace;
$font-additional: "Roboto Condensed", "Arial", sans-serif;
//
$main-text-color: #666666;
$contrast-color: #ffffff;
//
$footer-background-color: #fafafa;
$dark-color: #1b2d37;
$bright-color: #00b2ff;
$border-color: #ebebeb;
$line-color: #353735;
$icon-color: #1f1414;
//
$tablet-width: 1023px;
$mobile-width: 767px;
